//color
$mainColor: #101B3F; //kara 검은 바다 색
$mainColor2: #E86B79;
$mainWhite: #fff;
$mainBlack: #222;
$mainGray: #ccc;
$mainDarkGray: #888;
//color

//reset
* {
    margin: 0; padding: 0; box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $mainColor2;
    &:hover {
        text-decoration: underline;
    }
}
img {
    vertical-align: top;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: none;
}
body {
    line-height: 1.6;
    font-family: 'GothicA1-Light', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
}
//reset

//mixin start
@mixin flexlayout($flex: flex, $dir: row, $wrap: nowrap, $just: space-between, $align: center) {
    display: $flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin border($weight: 1px, $line: solid, $color: #ccc) {
    border: $weight $line $color;
}

@mixin boxReset($border: none, $outline: none, $background: none) {
    border: $border;
    outline: $outline;
    background: $background;
}
//mixin end



//font

//눈누 Gothic A1 폰트
@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
//눈누 프리텐다드
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
//font

//global style
.progress {
    font-size: 12px;
    color: $mainGray;
}
.inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
//global style

//mainindex
.Wrap{
    margin-top: 70px;
}
//mainindex

//about me
.aboutMe{
    @include flexlayout($align: flex-start);
}
.meLeft {
    width: 29%;
    h1{
        text-align: center;
        font-size: 20px;
        span{
            font-size: 18px
        }
    }
}
.simpleInfo{
    @include border();
    @include flexlayout($dir: column, $just: flex-start, $align: flex-start);
    padding: 20px;
    border-radius: 10px;
    height: auto;
    .infoImg {
        width: 100%;
        height: auto;
        background: steelblue;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .introducing {
        padding: 20px 0;
        li {
            margin: 10px 0;
        }
    }
    p{
        font-size: 18px;
        .infoIcon{
            margin-right: 10px;
            vertical-align: text-top;
        }
    }
}
.categoryTitle{
    font-size: 26px;
    color: $mainColor2;
    font-weight: bolder;
    margin: 10px 0;
}
.meRight{
    width: 69%;
}
.stacks {
    margin-bottom: 30px;
    ul {
        @include flexlayout($align: flex-start);
        h3{
            font-size: 16px;
            font-weight: bold;
        }
    }
}
.quickConnect{
    height: 350px;
    justify-content: space-between;
    .projectItem{
        position: relative;
        &:hover .showDetailBtn{
            top: 50%;
        }
    }
    .projectImg {
        display: block;
        width: 100%;
        height: 60%;
        position: relative;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .myResumeImg{
        background: url('../public/image/draw_compass.png')center center/contain no-repeat;
        &:hover {
            background: url('../public/image/draw_compass_on.png')center center/contain no-repeat;
        }
    }
    .usedSkill{
        height: 25px;
        line-height: 25px;
    }
    .skills {
        font-size: 12px;
        text-align: center;
    }
    .simpleExplain {
        padding: 10px;
        height: 40%;
    }
    .directUrls{
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 36px;
        z-index: 5;
        svg {
            color: $mainColor;
            &:hover {
                color: $mainColor2;
            }
        }
    }
    .showDetail{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .showDetailBtn{
            width: 100px;
            height: 30px;
            transition: 0.3s;
            background: $mainColor;
            border-radius: 20px;
            color: $mainWhite;
            position: absolute;
            top: -100px;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            &:hover {
                background: $mainColor2;
            }
        }
    }
}
.swiper-wrapper {
    .swiper-pagination.swiper-pagination-progressbar{
        top: auto;
        bottom: 0;
        height: 2px;
        .swiper-pagination-progressbar-fill {
            background: $mainColor;
        }
    }
}
.swiper {
    .swiper-button-prev, .swiper-button-next {
        width: 20px;
        height: 40px;
        background: $mainColor;
        border-radius: 5px;
        &::after {
            font-size: 10px;
            font-weight: bolder;
            color: white;
        }
    }
}
//about me

//projectDetail
.pDetailWrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.pDetailExplain{
    width: 90vw;
    height: 95vh;
    background: $mainWhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flexlayout($align: flex-start);
}
.swiper.pDetailImg {
    height: 100%;
    width: 40%;
    margin: 0;
    .swiper-slide {
        @include flexlayout($just: center)
    }
    img {
        width: 100%;
        height: auto;
    }
}
.pDetailRight {
    overflow-y: auto;
    width: 58%;
    max-height: 100%;
    font-size: 16px;
    padding-right: 70px;
    .pDetailTitleWrap {
        text-align: center;
        padding: 40px 0;
        .projectTitle {
            color: $mainColor;
            font-size: 40px;
            font-weight: bolder;
        }
        p{
            color: $mainDarkGray;
        }
    }
    .pDetailSectionTitle{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
        span {
            font-size: 24px;
            margin-right: 10px;
        }
    }
}
.pDetailSection {
    margin-bottom: 30px;
}
.mainFunction{
    span{
        font-size: 14px;
        color: $mainDarkGray;
    }
}
.emphasis {
    color: $mainColor2;
}
.pDetailClose {
    position: fixed;
    top: 10px;
    right: 30px;
    svg {
        font-size: 34px;
        color: $mainColor2;
        cursor: pointer;
    }
}
//projectDetail

@media screen and (max-width: 768px) {
    .Wrap {
        margin-bottom: 70px;
    }
    .aboutMe {
        flex-direction: column;
    }
    .meLeft {
        width: 90%;
        margin: 0 auto;
    }
    .meRight{
        width: 90%;
        margin: 0 auto;
    }
    .pDetailWrap {
        position: fixed;
    }
    .pDetailExplain{
        flex-direction: column;
        .swiper {
            display: none;
        }
        .pDetailRight{
            width: 100%;
            padding: 0 30px;
        }
    }
    .pDetailClose {
        right: 6px;
        svg {
            font-size: 28px;
        }
    }
    .quickConnect {
        .projectItem{
            .showDetail {
                .showDetailBtn {
                    top: 80%;
                }
            }
        }
    }
}